body {background-image: url("zoltar.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 400px;
background-color: lightgoldenrodyellow;}

#container{
  width: 500px;
}

p {
text-align: center;
justify-content: left;
font-size: 40px;
line-height: 15px;
color: yellowgreen;
}
